.spotlight-message {
    top: 0;
    left: 0;
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    position: fixed;
    background: rgba(255,255,255,0.5);
    
    color: red;
    font-size: 18px;
    font-weight: bold;

    z-index: 2147483647;
    pointer-events: none;
}